.mainbox{
    background: rgb(210,210,210);
    background: -moz-linear-gradient(95deg, rgba(210,210,210,1) 0%, rgba(8,29,12,1) 0%, rgba(14,99,31,1) 42%, rgba(94,94,94,1) 100%, rgba(68,68,68,1) 100%, rgba(15,47,54,1) 100%);
    background: -webkit-linear-gradient(95deg, rgba(210,210,210,1) 0%, rgba(8,29,12,1) 0%, rgba(14,99,31,1) 42%, rgba(94,94,94,1) 100%, rgba(68,68,68,1) 100%, rgba(15,47,54,1) 100%);
    background: linear-gradient(95deg, rgba(210,210,210,1) 0%, rgba(8,29,12,1) 0%, rgba(14,99,31,1) 42%, rgba(94,94,94,1) 100%, rgba(68,68,68,1) 100%, rgba(15,47,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2d2d2",endColorstr="#0f2f36",GradientType=1);
    width: 500px;
}
.mainboxreserved{
    width: 500px;
}

h2{
    background-color: #E7040F;
}
.button{
    height: 40px;
    width: 40px;
    text-align: center;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    text-align: center;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  :root {
  --borderWidth: 7px;
  --height: 24px;
  --width: 12px;
  --borderColor: #78b13f;
}


.check {
    color: green;
    font-size: 1.2em;
  }
  .ex {
    color: red;
    font-weight: bold;
    font-size: 2.1em;
    
  }